div.content-container{
    grid-area: main;
    display: grid;

}


#preInformation{
    grid-template-areas: 
    "topic"
    "message";
    grid-template-rows: 30% 70%;
}
.topic{
    grid-area: topic;
    align-self: center;
    justify-self: center;
    font-size: 4rem;
}
.message{
    grid-area: message;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}




#information{
    grid-template-areas: 
    "heading"
    "illustration content";
}

.heading{

}
.illustration{

}
.content{

}
