div.content-container{
    grid-area: main;
    display: grid;

}


#preInformation{
    grid-template-areas: 
    "topic"
    "illustration"
    "message";
    grid-template-rows: 10% 50% 40%;
}
.topic{
    grid-area: topic;
}
.illustration{
    grid-area: illustration;
    background: url(../images/stock/IMG_20220609_151823544_HDR.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.message{
    grid-area: message;
    text-align: center;
}




#information{
    grid-template-areas: 
    "heading"
    "illustration content";
}

.heading{

}
.illustration{

}
.content{

}
