div.content-container{
    grid-area: main;
    display: grid;

}


#preInformation{
    grid-template-areas: 
    "topic"
    "message";
    grid-template-rows: 30% 70%;
}
.topic{
    grid-area: topic;
}

.message{
    grid-area: message;
    text-align: center;
}




#information{
    grid-template-areas: 
    "heading"
    "illustration content";
}

.heading{

}
.illustration{

}
.content{

}
