*{
    padding:0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color-primary: rgb(243, 255, 11);
    --color-danger: red;
    --color-warning: orange;
    --color-success: limegreen;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #efefef;
    --color-bg1: blue;
    --color-bg2: rgb(0, 0, 255,.4);

    --container-sz-lg: 80%;
    --container-sz-md: 85%;
    --container-sz-sm: 90%;

    --transition: all 1s ease-in-out;
}

body{
    background-color: var(--color-bg);
    font-size: 16px;

}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2rem;
}
h1{
    line-height: 2.2rem;
}
h2{
    line-height: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav content-controller";
}

.container{
    width: 100%;
}
