*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #000000;
    --color-success: green;
    --color-warning: orange;
    --color-danger: red;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #c5c5c5;
    --color-bg1: #2600ffc0;
    --color-bg2: #2100c4;
}

body{
    background: #efefef;
    font-size: 16px;

}

nav{
    position: fixed;
    width: 20%;
    height: 100vh;
}